data

#NodeJS
node_modules

#Python
__pycache__/

#Rust
target

#C#
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

*.class

go/main
go/go
#Editor
.vscode/